/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #012633;
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

#titleGame {
    width: 10%;
    height: auto;
    margin: auto;
}

#titleGame h1{
    color: #fff;
    text-align: center;
    font-size: 100px;
    padding-top: 30px;
    transition: all .2s ease-in-out;
}


#titleGame h1:hover {
    transform: scale(0.9);
    color: #0bb223;
    cursor: pointer;
}

#color_change {
    width: 5%;
    height: 40px;
    background-color: rgba(0,0,0,0);
    left: 492px;
    top: 20px;
    position: absolute;
    /*display: block;*/
}

.fix_color {
    width: 3%;
    height: 15px;
    width: 15px;
    transition: .5s;
    opacity: .3;
}

.fix_color:hover {
    opacity: 2;
    transform: scale(2.5);
    transition: .5s ease;
}

#color-1 {
    background-color: #2F5373;
}

#color-2 {
    background-color: #BF3111;
}

#color-3 {
    background-color: #F27405;
}

#color-4 {
    background-color: #0bb223;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #0bb223;
    margin-bottom: 130px;
}

.active { background-color: #e2fff3; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #0bb223;
    top: -7px;
    right: 10px;
    class: after-element;
}



.player-current-box {
    background-color: #0bb223;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #0bb223;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 557px;}
.btn-roll { top: 413px;}
.btn-hold { top: 460px;}

#box-number {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-weight: 300;
    top: 510px;
}

#box-number input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#fname {
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    border: 1px solid #0bb223;
}

.dice-0 {
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.10);

}

.dice-1 {
    position: absolute;
    left: 50%;
    top: 270px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.10);

}

.winner { background-color: #dfffed; }

.winner .player-name {
    font-weight: 300;
    color: #0bb223;
}


#footer {
    color: #bebcc8;
    text-align: center;
    padding-top: 750px;
    font-size: 15px;
    height: auto;
    width: 15%;
    margin: auto;
}

#footer p a{
    transition: 0.5s;
    transform-style: preserve-3d;
    color: #bebcc8;
    text-decoration: none;

}

#footer p a:hover {
    transform: rotateY(0deg);
    color: #fff;
    cursor: alias;
}

